# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc
backend/.env

# Sensitive
*.pem
*.key
secrets.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp